.main {
  padding: 0rem 4rem;
  background-color: rgb(247, 247, 247);
  font-family: "Ubuntu";
}

.branding {
  background: url('https://images.unsplash.com/photo-1494438639946-1ebd1d20bf85?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1600') no-repeat center center/cover;
  height: 26.5em;
  border-radius: 12px;
  padding-left: 8rem;
  align-items: center;
  display: flex;
  font-family: "Ubuntu", sans-serif;
}

.slogan {
  font-size: 40px;
  background-color: rgba(229, 229, 229, 0.3);
  width: min-content;
  padding: 1rem 2rem;
  border-radius: 12px;
  scale: 1.2;
}

.smartphone {
  font-family: "Ubuntu";
  position: relative;
  background: url(/src/assets/smartphone.jpg) no-repeat top center/cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.desktop {
  font-family: "Ubuntu";
  position: relative;
  background: url(/src/assets/desktop.jpg) no-repeat top center/cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.smartphone::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  border-radius: 12px;
}

.desktop::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  border-radius: 12px;
}

.smartphone:hover::before,
.desktop:hover::before {
  opacity: 0.5;
  cursor: pointer;
}

.smartphone:hover h2,
.desktop:hover h2 {
  opacity: 1;
  cursor: default;
}

.smartphone h2,
.desktop h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

@media screen and (max-width: 480px) {
  .main {
    padding: 1rem 1.5rem;
  }

  .slogan {
    font-size: 30px;
  }

  .branding {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-left: 0em;
    padding-top: 0em;
    height: 21em;
  }

  .smartphone,
  .desktop {
    height: 250px;
  }

  .smartphone h2,
  .desktop h2 {
    opacity: 1;
  }

  .smartphone::before,
  .desktop::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    background-color: black;
  }
}
