nav {
  text-align: center;
  padding: 2rem 0 1rem;
  background-color: rgb(247, 247, 247);
  position: static;
  font-family: 'Poppins', sans-serif;
}

ul {
  font-size: 22px;
  font-weight: 500;
}

li:hover {
  cursor: pointer;
  transition: 1s;
}
