.category-head {
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 15px;
  height: 25rem;
}

.abstract-img {
  background: url("https://images.unsplash.com/photo-1595411425732-e69c1abe2763?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1600")
    no-repeat center center/cover;
}

.aerial-img {
  background: url("https://images.unsplash.com/photo-1522072629756-c9274e34ef5e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1600")
    no-repeat center center/cover;
}

.architecture-img {
  background: url("https://images.unsplash.com/photo-1435575653489-b0873ec954e2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1600")
    no-repeat center center/cover;
}

.cars-img {
  background: url("https://images.unsplash.com/photo-1603584173870-7f23fdae1b7a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1600")
    no-repeat center center/cover;
}

.cityscape-img {
  background: url("https://images.unsplash.com/photo-1422393462206-207b0fbd8d6b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1600")
    no-repeat center center/cover;
}

.mountain-img {
  background: url("https://images.unsplash.com/photo-1463288889890-a56b2853c40f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1600")
    no-repeat center center/cover;
}

.music-img {
  background: url("https://images.unsplash.com/photo-1511379938547-c1f69419868d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1600")
    no-repeat center center/cover;
}

.nature-img {
  background: url("https://images.unsplash.com/photo-1469474968028-56623f02e42e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1600")
    no-repeat center center/cover;
}

.nightsky-img {
  background: url("https://images.unsplash.com/photo-1580671576132-bb0be268f939?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1600")
    no-repeat center center/cover;
}

.pastel-img {
  background: url("https://images.unsplash.com/photo-1554147090-e1221a04a025?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1600")
    no-repeat center center/cover;
}

.vintage-img {
  background: url("https://images.unsplash.com/photo-1496293455970-f8581aae0e3b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1600")
    no-repeat center center/cover;
}

.minimal-img {
  background: url("https://images.unsplash.com/photo-1531736275454-adc48d079ce9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1600")
    no-repeat center center/cover;
}

.category-head h1 {
  font-size: 60px;
  background-color: rgba(220, 220, 220, 0.4);
  border-radius: 15px;
  width: max-content;
  padding: 1.5rem 1.5rem;
  border-radius: 15px;
}

.category-larger h1 {
  font-size: 45px !important;
}

.gridsmartphone {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
}

.zoom {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
  z-index: 20;
}

@media screen and (max-width: 1024px) {
  .gridsmartphone {
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .gridsmartphone {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .gridsmartphone {
    grid-template-columns: repeat(2, 1fr);
  }
}
